/*Step 2 Styles */

.connection_builder {
    margin-left:5em;
    width: 45em;
}
.connection_builder h2 {
    font-size: 1.6em;
}
.connection_builder h3 {
    font-size: 1.3em;
}
ul.connection-attributes {
  width:40em;
  background-color:#efefef;
  padding:12px;
  border-radius: 3px;
}
ul.connection-attributes li.attribute {
  list-style: disc inside;
  font-size: 1.1em;
  width:450px;
  background-color:#eee;
  padding:6px;
  margin:6px;
  position:relative;
}


.connection_builder a.back{
  margin-top:12px;
  margin-right:120px;
  float:right;
}

#page .connection_builder a.button{
  width:170px;
}