<div class="bank">
  <h3>Connect to your Bank</h3>

  <% if(!completed) { %>

  <p>If you do have a bank account, bank will have performed checks to verify your identity when you opened an account.</p>

  <p></p>

  <p>Add your sort code, account number and security code to connect to your bank, to fetch your record from your bank, and your verified details.</p>

  <h4><em>You will not be charged.</p></h4>

  <form id="bank-login-form" accept-charset="UTF-8">
    <label for="edit-bank-sortcode">Sort Code<span class="form-required" title="This field is required.">*</span></label></label>
    <input type="text" id="edit-bank-sortcode" name="sortcode" value="" size="15" maxlength="60" class="text">

    <label for="edit-name">Account Number<span class="form-required" title="This field is required.">*</span></label>
    <input type="text" id="edit-bank-account-number" name="account_number" value="" size="15" maxlength="60" class="text">

    <label for="edit-security-code">Security Code<span class="form-required" title="This field is required.">*</span></label>
    <input type="text" id="edit-bank-security-code" name="security_code" value="" size="15" maxlength="60" class="text">

    <input name="completed" type="hidden" id="completed" value='true'>
    <div class="actions">
      <input type="submit" id="" name="op" value="Log in" class="form-submit submit">
    </div>
  </form>

  <p><a class="cancel-pane" href="">I don't have a bank account.</a></p>

  <% } %>

  <% if (completed) { %>
    <p><em>Your details, stored with <%= provider_name %></em></p>

    <ul class="passport-details">
      <li><span class="key">Bank Provider</span>    <span class="value"><%= provider_name %></span></li>
      <li><span class="key">Account type</span>    <span class="value"><%= account_type %> </span></li>
      <li><span class="key">Given Names</span>    <span class="value">Joe</span></li>
      <li><span class="key">Surname</span>        <span class="value">Bloggs</span></li>
    </ul>

    <p>A copy of this information, and your transaction history with <%= provider_name %> is now stored in your personal data store.</p>

  <% } %>

</div>
