<div class="connection_builder">

    <h2>Creating your government ID</h2>

    <h3>You're about to create your government ID with the information in your personal data store, collected from:

        <% if(initialConnectionNames) { %>
            <%= initialConnectionNames.join(',') %>
        <% } %>

        <% if(lastConnectionName) { %>
            and
            <%= lastConnectionName %>
        <% }%>

        </h3>

    <h3>The following information will be used to create your government ID:</h3>

    <div class="basic-personal-data">
        <h3>Basic personal data</h3>

        <!-- styled info -->
        <ul class="connection-attributes">
            <li class="attribute">your full name</li>
            <li class="attribute">your current address</li>
            <li class="attribute">your age</li>

            <% if (mappedModels['PassportAgency']) { %>
              <li class="attribute">your passport number</li>
            <% }; %>

            <% if (mappedModels['DVLA']) { %>
              <li class="attribute">your driving license</li>
            <% }; %>

            <% if (mappedModels['Bank']) { %>
              <li class="attribute">your bank</li>
            <% }; %>
        </ul>
    </div>

    <div class="historical-data">
        <h3>Historical Personal Data</h3>

        <ul class="connection-attributes">
            <li class="attribute">your last 3 addresses</li>

            <% if (mappedModels['PassportAgency']) { %>
              <li class="attribute">the length of time you have held your passport</li>
            <% } %>

            <% if (mappedModels['Bank']) { %>
              <li class="attribute">your credit history, as recorded by your bank, <%= mappedModels['Bank'].provider_name %></li>
            <% } %>

            <% if (mappedModels['Utility']) { %>
            <li class="attribute">your payment history as recorded with <%= mappedModels['Utility'].provider_name %></li>
            <% } %>
        </ul>

    </div>

    <a href='#' class="button">Create my government ID</a>
    <a href='#' class="back">Back</a>

</div>