<div class="hm-passport-office">
  <h3>Connect to the HM Passport Office</h3>

  <% if(!completed) { %>

    <% if(!verifying) { %>

    <p>Enter your name and passport number to look up your record with the UK passport agency.</p>
    <p>If there is a match, you'll have to answer one further question about your passport record, to prove your ownership.</p>

    <p>If this is correct, the passport agency will return your full record and store it in your personal data store for you.</p>

    <form id="passport-form" accept-charset="UTF-8">

      <label for="edit-name">Name<span class="form-required" title="This field is required.">*</span></label>
      <input type="text" id="edit-passport-name" name="passport_name" value="" size="15" maxlength="60" class="text">

      <label for="edit-passport-number">Passport Number<span class="form-required" title="This field is required.">*</span></label></label>
      <input type="text" id="edit-passport-number" name="passport_number" value="" size="15" maxlength="60" class="text">
      <input name="verifying" type="hidden" id="verifying" value='true'>
      <div class="actions">
      <a class="cancel cancel-pane" href=''>I don't have this information</a>
        <input type="submit" id="" name="op" value="Log in" class="form-submit submit">
      </div>
    </form>

    <% } %>

    <% if(verifying) { %>

    <div class="verify">

    <h4>Verifying your identiy</h4>

    <p>When was your current passport issued to you?</p>

    <p>This is listed as "date of issue" on the back page</p>

      <form id="passport-form">

        <p><input class="radio" type="radio" value="value1"/>17th December 2007</p>
        <p><input class="radio" type="radio" value="value2"/>29th March 2010</p>
        <p><input class="radio" type="radio" value="value3"/>17th December 2007</p>

        <input name="completed" type="hidden" id="completed" value='true'>

      <div class="actions">
        <input type="submit" id="" name="op" value="Submit" class="form-submit submit">
      </div>

      <p><a class="cancel unverify" href=''>I don't have this information, take me back.</a></p>

    </form>

    </div>

   <% } %>

  <% } %>

  <% if (completed) { %>
    <p><em>Your passport record</em></p>
    <p>Here is the returned record for your passport record</p>

    <ul class="passport-details">
      <li><span class="key">Given Names</span>    <span class="value">Joe</span></li>
      <li><span class="key">Surname</span>        <span class="value">Bloggs</span></li>
      <li><span class="key">Nationality</span>    <span class="value"><%= nationality %></span></li>
      <li><span class="key">Date of Birth</span>  <span class="value"><%= date_of_birth%></span></li>
      <li><span class="key">Place of Birth</span> <span class="value"><%= place_of_birth %></span></li>
      <li><span class="key">Passport number</span><span class="value"><%= passport_number %></span></li>
    </ul>

    <p>A copy of this information is now stored in your personal data store.</p>

  <% } %>
</div>