
<div class="utility">
  <h3>Connect to your Energy Provider</h3>

  <% if(!completed) { %>

  <p>You can use your customer history with your Gas or Electricity provider as a way to prove you have lived at a given address for a period of time.</p>

  <p>Enter your details below to fetch your customer record, payment history and address.</p>

  <form id="utility-login-form" accept-charset="UTF-8">

    <label for="edit-name">Account Number<span class="form-required" title="This field is required.">*</span></label>
    <input type="text" id="edit-utility-account-number" name="account_number" value="" size="15" maxlength="60" class="text">

    <label for="edit-security-code">Password<span class="form-required" title="This field is required.">*</span></label>
    <input type="text" id="edit-utility-password" name="password" value="" size="15" maxlength="60" class="text">

    <input name="completed" type="hidden" id="completed" value='true'>
    <div class="actions">
      <input type="submit" id="" name="op" value="Log in" class="form-submit submit">
    </div>
  </form>

  <p><a class="cancel-pane" href="">I don't pay for gas or electricity directly, or I don't receive bills.</a></p>

  <% } %>

  <% if (completed) { %>
    <p><em>Your details, help with <%= provider_name %></em></p>

    <ul class="passport-details">
      <li><span class="key">Company</span>    <span class="value"><%= provider_name %></span></li>
      <li><span class="key">Given Names</span>    <span class="value">Joe</span></li>
      <li><span class="key">Surname</span>        <span class="value">Bloggs</span></li>
    </ul>

    <p>A copy of this information, and your transaction history with <%= provider_name %> is now stored in your personal data store.</p>

  <% } %>
</div>